* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;  
    list-style: none; 
}
header {
    width: 100%;
    height: 100vh;
    background: url('images/thumb-1920-654171.png');
    background-size: cover;
    overflow: hidden;
}

#top-nav{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;

}

.nav-links{
    list-style: none;
    color: #fff;
    display:flex;
    flex-direction: row;
    padding-right: 10%;
    flex-wrap: nowrap;   
}
#top-nav a{
    display: block;
    padding-left:10%;
}

.nav-links li{
    padding-left: 20px;
    padding-top: 20px;
}
.nav-links li a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
}



#about {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    padding: 250px 250px;
}


 #about h1 {
     font-size: 48px;
     font-weight: 600;
     color: #fff;
 }
 
 #about p {
     color: #fff;
     font-weight: 800;
 }
 
 .hire {
     display: block;
     background: none;
     margin-top: 30px;
     float: left;
     padding: 5px 30px;
     font-size: 10px;
     text-transform: uppercase;
     color: #fff;
     border: 1px solid #fff;
     border-radius: 50px;
 }
 .hire:hover {
    background-color: aqua;
 }
 .des-con {
     margin: 20px auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     height: auto;
     width: 100%;
     background-color:white;
 }
 #img1 {
     width: 400px;
     height: 300px;
 }
 .des-con ul{
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .des-con ul li{
    padding: 20px;
    width: 500px;
}
.des-con ul li h2{
    font-size: 24px;
   font-weight: lighter;
   text-transform: uppercase;
   color: gray;
   padding-bottom: 20px;
}
.des-con ul li h2:after{
    display: block;
    content:"";
    height: .1rem;
    width: 50px;
    background-color: black;
}
.des-con ul li p{
    font-size: 12px;
    color: gray;
    padding-bottom: 20px;
}
.des-btn{
    background: none;
    margin-top: 10px;
    float: left;
    padding: 5px 15px;
    font-size: 10px;
    color: #111;
    border: 1px solid black;
    border-radius: 50px;
}
.des-btn:hover {
    background-color: aqua;
 }
#services {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding:0 17%;
    background-color: whitesmoke;
}
#services ul li a img {
    width: 50px;
    padding: 15px 0 10px 0;
    border-radius: 50%;
    
}
.service{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1 0 25%;
    align-items: center;
    padding-bottom: 40px;
}
.service li{
   text-align: center;
   width: 250px;
   height: 150px;
   margin: 20px 20px;
   background-color: white;
}
#services h3{
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  color: gray;
  padding-bottom: 40px;
}
#services h3:after{
   display: block;
   content:"";
   height: .1rem;
   width: 50px;
   background-color: black;
   margin-left: 40%;
}
#services p{
   font-size: 12px;
   color: gray;
   padding: 20px 0px;
}

#statistic {
    width: 100%;
    height: auto;
    background-image: url('images/thumb-1920-654171.png');
    overflow: hidden;
}
#statistic ul{
    display: flex;
    flex-direction: row;
    flex:1 0 25%;
    flex-wrap: wrap;
    padding: 20px 20%;
}
#statistic ul li{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px;
    text-align: center;
}
#statistic ul li h4{
    font-size: 50px;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    padding-bottom: 40px;
  }
  #statistic ul li h4:after{
     display: flex;
     content:"";
     height: .1rem;
     width: 50px;
     background-color: white;
     margin-left: 40%;
     
  }
  #statistic ul li p{
     font-size: 24px;
     color: white;
     padding: 20px 0px;
  }

  #visit {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding:0 20%;
    background-color: white;
}
#visit ul li img {
    width: 300px;
    height: 200px;
    padding: 0px 0 10px 0;   
}
#visit ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1 0 33%;
    align-items: center;
    padding-bottom: 40px;
}
#visit ul li{
   text-align: left;
   margin: 20px 20px;
   background-color: white;
}
#visit h3{
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  color: gray;
  padding-bottom: 40px;
}
#visit h3:after{
   display: block;
   content:"";
   height: .1rem;
   width: 50px;
   background-color: black;
   margin-left: 40%;
}
#visit p{
   font-size: 12px;
   color: gray;
   padding: 20px 0px;
}
#visit ul li h4,
#visit ul li p {
    padding-left: 10px;
}

#whatsay {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding:0 20%;
    background-color: whitesmoke;
}
#whatsay ul li img {
    width: 60px;
    height: 60px;
    padding: 0px 0 10px 0px; 
    margin-left: 30px; 
    margin-top: -30px; 
}
#whatsay ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1 0 50%;
    align-items: center;
    padding-bottom: 40px;
}
#whatsay ul li{
   text-align: left;
   width:500px;
   margin: 20px 20px;
   background-color: whitesmoke;
   border: grey solid 1px;
}
#whatsay h3{
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  color: gray;
  padding-bottom: 40px;
}
#whatsay h3:after{
   display: block;
   content:"";
   height: .1rem;
   width: 50px;
   background-color: black;
   margin-left: 40%;
}
#whatsay p{
   font-size: 12px;
   color: gray;
   padding: 20px 0px;
}
#whatsay ul li h4,
#whatsay ul li p {
    padding-left: 10px;
}

article img {
    width: 400px;
    height: 300px;
    padding: 0px 0 10px 0;   
}
#check-sec{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    text-align: center;
}
.check {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
article{
   text-align: left;
   margin: 20px 20px;
   background-color: white;
   border: grey solid 1px;
   width: 400px;
   box-shadow: grey 2px 2px 5px;
}
article h5{
  padding-left: 20px;
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  color: gray;
  
}
.par{
    font-size: 12px;
   color: gray;
   margin-left: 20px;
}
article ul {
    display: flex;
    flex-direction: row;
}
article ul li{
   padding-left: 20px;
}

.btn {
    color: grey;
    background-color: none;
    border: grey solid 1px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.btn:hover {
    background-color: aqua;
 }
#check-sec h4{
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  color: gray;
  padding-bottom: 40px;
}
#check-sec h4:after{
   display: block;
   content:"";
   height: .1rem;
   width: 50px;
   background-color: black;
   margin-left: 47%;
}
#check-sec p{
   font-size: 12px;
   color: gray;
   padding: 20px 0px;
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 20%;
    
}
#left-con {
    display: flex;
    flex-direction: column;
}
#name,#mail, #subject {
    width: 400px;
    border: rgb(68, 68, 68) solid 2px;
    border-radius: 50px;
    padding: 10px 10px;
    margin-bottom: 25px;
    margin-right: 30px;
    color: white;
    background-color: rgb(46, 46, 46);
}
#textarea {
    width: 400px;
    border: rgb(68, 68, 68) solid 2px;
    border-radius: 10px;
    padding:10px 20px;
    color: white;
    background-color: rgb(46, 46, 46);
    
}
#bottom-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.945);
}
#bottom-form h3{
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
  padding-bottom: 40px;
}
#bottom-form h3:after{
   display: block;
   content:"";
   height: .1rem;
   width: 50px;
   background-color: white;
   justify-self: center;
   margin-left: 47%;
}
#bottom-form p{
   font-size: 12px;
   color: white;
   padding: 20px 0px;
}
#con {
    display: block;
    width: 150px;
    padding: 9px 25px;
    background-color: rgb(46, 46, 46);
    border: rgb(68, 68, 68) solid 2px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 9px;
    color:honeydew;
    justify-self: center;
    align-items: center;
    margin-left: 45%;
    margin-bottom: 20px;
}
#con:hover {
   background-color: aqua;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
#bottom-nav ul{
    display: flex;
    margin-right: 50px;
}
#bottom-nav ul li,#copy{
    font-size: 18px;
    padding: 10px;
}
#bottom-nav ul li a,#copy{
   color: white;
}
#bottom-nav ul li:hover{
    cursor: pointer;
    text-decoration: grey underline;
}
@media screen and (max-width: 500px){
    footer{ 
        flex-direction: column;
    }
    #copy{
        order: 2;
    }
}

